@charset "UTF-8";
/* CSS Document */
canvas {
  display: block;
}
.yes {
    text-align: center;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    color: #4DE7FF;
}
.mhm {
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #B4FBCF;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #000000;
}
.no {
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9CFEBE;
    text-shadow: 1px 1px 1px #000000;
}
