html, body {
    margin-right: auto;
    padding: 0;
    color: #CAC0FF;
    display: block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    margin-left: auto;
}
.s1 img {
}
fall {
	
}
flower-select {
}
canvas {
  display: block;
}
.eemily {
    color: #D2CCFF;
}
.eemily a {
    color: #D4CDFF;
    text-decoration: none;
}
.s1 script {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
